[user]
  name = Gaurav Chande
  email = gmail@gauravchande.com
[color]
  ui = true
[core]
  editor = vim
	excludesfile = ~/.gitignore_global
[hub]
  protocol = https
[push]
  default = current
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	di = diff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[pull]
	rebase = true
